
<div class="card border-primary mb-3">
  <div class="card-header">Pedido de Compra</div>
  <div class="card-body text-primary">
    <h5 class="card-title">List of orders</h5>

    <div class="my-2 text-left">
      <buttom *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/buy-order/form']" >Create Order</buttom>
    </div>
    <div *ngIf="buyOrders?.length==0" class="alert alert-info">
        No hay registros en al base de datos!
    </div>

    <table class="table table-bordered table-striped" *ngIf="buyOrders?.length>0">
      <thead>
        <tr>
          <th>Number</th>
          <th>Proveedor</th>
          <th>Date</th>
          <th>Fecha Entrada</th>
          <th>Total</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let buyOrder of buyOrders">
          <td>
              <a *ngIf="buyOrder.inputDate" [routerLink]="['/buy-order/view',buyOrder.id]" class="link">{{ buyOrder.number }}</a>
              <a *ngIf="!buyOrder.inputDate" [routerLink]="['/buy-order/form',buyOrder.id]" class="link">{{ buyOrder.number }}</a>
          </td>
          <td>{{ buyOrder.provider.name }}</td>
          <td>{{ buyOrder.createAt }}</td>

          <td *ngIf="buyOrder.inputDate">{{ buyOrder.inputDate }}</td>
          <td *ngIf="!buyOrder.inputDate"></td>


          <td>{{ buyOrder.total | number:'1.2-2' }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="delete" (click)='delete(buyOrder)' class="btn btn-danger btn-sm">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <paginator-nav *ngIf="paginator" [component]="component" [paginator]= "paginator">

    </paginator-nav>

  </div>
</div>
