
<div class="card border-primary mb-3">
  <div class="card-header">Order</div>
  <div class="card-body text-primary">
    <h5 class="card-title">List of orders</h5>

    <div class="my-2 text-left">
      <buttom *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/order/form']" >Create Order</buttom>
    </div>
    <div *ngIf="orders?.length==0" class="alert alert-info">
        No hay registros en al base de datos!
    </div>

    <table class="table table-bordered table-striped" *ngIf="orders?.length>0">
      <thead>
        <tr>
          <th>Number</th>
          <th>Customer</th>
          <th>Date</th>
          <th>Total</th>
          <th>Factura</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>
              <a *ngIf="order.invoice" [routerLink]="['/order/view',order.id]" class="link">{{ order.number }}</a>
              <a *ngIf="!order.invoice" [routerLink]="['/order/form',order.id]" class="link">{{ order.number }}</a>
          </td>
          <td>{{ order.customer.name }}</td>
          <td>{{ order.createAt }}</td>
          <td>{{ order.total | number:'1.2-2' }}</td>
          <td *ngIf="order.invoice">{{ order.invoice.number }}</td>
          <td *ngIf="!order.invoice"></td>

          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="delete" (click)='delete(order)' class="btn btn-danger btn-sm" [disabled]="order.invoice">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <paginator-nav *ngIf="paginator" [component]="component" [paginator]= "paginator">

    </paginator-nav>

  </div>
</div>
<!--

<th *ngIf="authService.hasRole('ROLE_ADMIN')">edit/view</th>


<td *ngIf="authService.hasRole('ROLE_ADMIN')">
  <button type="button" name="button" [routerLink]="['/order/form',order.id]"
          class="btn btn-primary btn-sm" [disabled]="order.invoice" style="margin-right: 1px; margin-left: 1px">
    Edit
  </button>

  <button type="button" name="button" [routerLink]="['/order/view',order.id]"
          class="btn btn-primary btn-sm" style="margin-right: 1px; margin-left: 1px">
    View
  </button>
</td>
-->
