<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
  {{ err }}
  </li>
</ul>

<div class="card border-primary mb-3">
  <div class="card-header">{{titulo}} {{order.number}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/order']" class="btn btn-light btn-xs">&laquo; volver</a>
    </h4>

    <form #orderForm="ngForm">

      <div class="form-group row">
        <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
        <div class="col-sm-4">
          <input type="text"
          [formControl]="customerControl"
          [matAutocomplete]="customerAuto"
          class="form-control">
          <mat-autocomplete #customerAuto="matAutocomplete"
                            (optionSelected)="selectCustomer($event)">
              <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
                {{customer.name}}
              </mat-option>
          </mat-autocomplete>
        </div>

          <div class="col-sm-6">
            <input type="text" [(ngModel)]="order.customer.name" class="form-control" name="name" disabled>
          </div>

      </div>

      <div class="form-group row">
        <label for="cliente" class="col-sm-2 col-form-label">Code</label>

        <div class="col-sm-4">
          <input type="text"
          [formControl]="customerCodeControl"
          [matAutocomplete]="customerCodeAuto"
          class="form-control">
          <mat-autocomplete #customerCodeAuto="matAutocomplete"
                            (optionSelected)="selectCustomer($event)">
              <mat-option *ngFor="let customer of filteredCustomersCode | async" [value]="customer">
                {{customer.code}}
              </mat-option>
          </mat-autocomplete>
        </div>

        <div class="col-sm-6">
          <input type="text" [(ngModel)]="order.customer.code" class="form-control" name="code" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="observacion" class="col-sm-2 col-form-label">Observación</label>
        <div class="col-sm-6">
          <textarea name="observacion" [(ngModel)]="order.observation" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <mat-form-field>
            <input type="text" placeholder="Añadir producto"
                                aria-label="Productos"
                                matInput
                                [formControl]="productControl"
                                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete"
                              (optionSelected)="selectProduct($event)">
              <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
                {{product.description}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="productControl.invalid && orderForm.submitted">
            La orden no puede no tener líneas!.
          </div>
        </div>
      </div>

      <div class="alert alert-info my-4" *ngIf="order.items.length == 0">
        No hay líneas asignadas para la orden. Debe agregar al menos una!
      </div>

      <table class="table table-striped table-hover table-sm" *ngIf="order.items.length > 0">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.items">
            <td>{{item.product.description}}</td>
            <td>{{item.price}}</td>
            <td><input type="number" value="{{item.quantity}}" class="form-control col-sm-4" (change)="updateQuantity(item.product.id, $event)"></td>
            <td>{{item.getAmount()}}</td>
            <td><button class="btn btn-danger btn-sm" type="button"
              (click)="deleteOrderItem(item.product.id)">x</button></td>
          </tr>
        </tbody>
      </table>

      <h5 class="float-right" *ngIf="order.items.length > 0">Total: <span class="badge badge-secondary">{{order.getTotal()}}</span></h5>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!order.number else elseBlock">Create</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Update</button>
            <button class="btn btn-primary" role="button" (click)='pdf()'>PDF</button>
          </ng-template>

        </div>
      </div>

    </form>

  </div>
</div>
