<div class="card border-primary mb-3">
  <div class="card-header">provider</div>
  <div class="card-body text-primary">
    <h5 class="card-title">List of provider</h5>

    <div class="my-2 text-left">
      <buttom *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/provider/form']" >Create provider</buttom>
    </div>

    <div *ngIf="!providers" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="providers?.length==0" class="alert alert-info">
        No hay registros en al base de datos!
    </div>

    <table class="table table-bordered table-striped" *ngIf="providers?.length>0">
      <thead>
        <tr>
          <th>code</th>
          <th>name</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let provider of providers">

          <td>
            <a [routerLink]="['/provider/form',provider.id]" class="link">{{ provider.code }}</a>
          </td>
          <td>{{ provider.name }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="edit" (click)='delete(provider)' class="btn btn-danger btn-sm">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <paginator-nav *ngIf="paginator" [component]="component" [paginator]="paginator">

    </paginator-nav>

  </div>
</div>
