<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
  {{ err }}
  </li>
</ul>

<div class="card border-primary mb-3">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form>

      <div class="form-group row">
        <label for="provider" class="col-sm-2 col-form-label">Provider</label>

        <div class="col-sm-4">
          <input type="text"
          [formControl]="providerNameControl"
          [matAutocomplete]="providerNameAuto"
          class="form-control">
          <mat-autocomplete #providerNameAuto="matAutocomplete"
                            (optionSelected)="selectProvider($event)">
              <mat-option *ngFor="let provider of filteredProvidersName | async" [value]="provider">
                {{provider.name}}
              </mat-option>
          </mat-autocomplete>
        </div>

        <div class="col-sm-6">
          <input type="text" [(ngModel)]="product.provider.name" class="form-control" name="nameProvider" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="code" class="col-form-label col-sm-2">Code</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="product.code" name="code">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-form-label col-sm-2">Description</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="product.description" name="description">
        </div>
      </div>
      <div class="form-group row">
        <label for="price" class="col-form-label col-sm-2">Price</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="product.price" name="price">
        </div>
      </div>

      <div class="form-group row">
        <label for="iva" class="col-form-label col-sm-2">Iva</label>

        <div class="col-sm-6">
          <select class="form-control" name="ivaType" [(ngModel)]="product.ivaType">
            <option *ngFor="let ivaType of ivaTypes" [value]="ivaType.value">{{ivaType.text}}</option>
          </select>
        </div>

      </div>


      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!product.id else elseBlock">Create</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Update</button>
          </ng-template>

        </div>

      </div>
    </form>

  </div>

</div>
