<div class="modal-open animation fadeIn" *ngIf="invoiceService.modal">
<div  class="modal" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ titulo }}</h5>
        <button (click)="modalClose()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
            <div class="col-sm-4">
              <input type="text"
              [formControl]="customerNameControl"
              [matAutocomplete]="customerNameAuto"
              class="form-control">
              <mat-autocomplete #customerNameAuto="matAutocomplete"
                                (optionSelected)="selectCustomer($event)">
                  <mat-option *ngFor="let customer of filteredCustomersName | async" [value]="customer">
                    {{customer.name}}
                  </mat-option>
              </mat-autocomplete>
            </div>
            <div class="col-sm-6">
              <input type="text" [(ngModel)]="idDates.name" class="form-control" name="name" disabled>
            </div>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Introduzca rango de fechas</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" [(ngModel)]="idDates.dateRange.fromDate" name="fromDate">
              <input matEndDate placeholder="End date" [(ngModel)]="idDates.dateRange.toDate" name="toDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <div class="form-group row">
            <div class="col-sm-6">
              <button class="btn btn-primary" role="button" (click)='generate()'>Generate</button>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button (click)="modalClose()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
