
<div class="card border-primary mb-3">
  <div class="card-header">Invoide</div>
  <div class="card-body text-primary">
    <h5 class="card-title">List of invoices</h5>

    <div class="my-2 text-left">
      <buttom *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/invoice/form']" >Create Invoice</buttom>
    </div>
    <div *ngIf="invoices?.length==0" class="alert alert-info">
        No hay registros en al base de datos!
    </div>

    <table class="table table-bordered table-striped" *ngIf="invoices?.length>0">
      <thead>
        <tr>
          <th>Number</th>
          <th>Customer</th>
          <th>Date</th>
          <th>Total</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">edit</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>{{ invoice.number }}</td>
          <td>{{ invoice.customer.name }}</td>
          <td>{{ invoice.createAt }}</td>
          <td>{{ invoice.total }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="button" [routerLink]="['/invoice/view',invoice.id]" class="btn btn-primary btn-sm">
              view
            </button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="edit" (click)='delete(invoice)' class="btn btn-danger btn-sm">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
